<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{0,344},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{0,0},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{245,0},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{490,0},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{735,0},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{980,0},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{1225,0},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{1470,0},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{1715,0},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{245,344},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{490,344},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{735,344},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{980,344},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{1225,688},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{1225,344},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{1470,344},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{1715,344},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{0,688},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{245,688},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{490,688},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{735,688},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{980,688},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{1470,688},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{1715,688},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{0,1032},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{245,1032},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{490,1376},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{490,1032},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{735,1032},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{980,1032},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{1225,1032},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{1470,1032},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{1715,1032},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{0,1376},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{245,1376},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{735,1376},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{980,1376},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{1225,1376},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{1470,1376},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{1715,1376},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{1960,1720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1f3c24c5dd6d5d9e30581c9500002e1:7574f37eb833431fb31ef75ce5775979:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
