<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{245,344},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{0,0},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{245,0},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{490,0},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{735,0},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{980,0},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{1225,0},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{1470,0},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{0,344},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>da.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{490,344},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{735,344},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{980,344},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,344}</string>
                <key>spriteSourceSize</key>
                <string>{245,344}</string>
                <key>textureRect</key>
                <string>{{1225,344},{245,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker2.png</string>
            <key>size</key>
            <string>{1715,688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6523fadd9fa1f109400849c3db520066:f14f1c9c57309ef7ab0c05a3a09aff70:c2c608b87c15753f10ccef9fb8d08934$</string>
            <key>textureFileName</key>
            <string>poker2.png</string>
        </dict>
    </dict>
</plist>
